@__social-icons-border:1px solid #ebebeb;

.blog{
	&__item{
		position:relative;

		&:last-child{
			margin-bottom:0;
		}

		&__box{
			.mix-layout-box();
		}

		&__info{
			text-align:center;
		}

		&__thumbnail{
			margin-top:@layout-indent-small;

			a{
				display:block;
				border-bottom:none;

				&:hover{
					opacity:@image-opacity;
				}
			}
		}

		&__title{
			margin:0;
			margin-bottom:20px;
			font-size:1.867em;
			line-height:normal;

			a{
				color:@main-text-color;
				border-bottom:none;

				&:hover{
					.mix-title-hover();
				}
			}
		}

		&__sticky{
			position:absolute;
			top:-7px;
			.right(50px);

			&__bg{
				font-size:3.333em;
				color:@main-color1;
			}

			&__content{
				position:absolute;
				top:7px;
				.left(50%);
				.translate(-50%, 0);
				color:@main-color-white;
			}
		}

		&__content{
			p{
				margin:0 0 10px;

				&:last-of-type{
					margin-bottom:0;
				}
			}
		}

		&--without-image{
			.blog{
				&__item{
					&__content{
						padding-top:25px;
					}
				}
			}

			.blog-single{
				&__content{
					padding-top:25px;
				}
			}
		}
	}
}


.post-wrap {
	position: relative;
	.post-thumb {
		position: relative;
		a:last-child {
			text-align: center;
			.entry-thumb{
				width: 100%;
				min-width: 100%;
				min-height: 100%;
			}
		}
	}
	.post-details {
		.post-title{
			font-size: 13px;
			line-height: 18px;
			font-weight: bold;
			text-transform: capitalize;
			margin-bottom: 4px;
		}
		.post-meta-info  {
			font-size: 11px;
			line-height: 1;
			margin-bottom: 0;
			min-height: 0;
			.post-datetime {
				color: #aaa;
				display: inline-block;
				position: relative;
				top: 2px;
				.post-date {
					&.updated {}
				}
			}
		}
	}

	&.bg-gradient {
		.post-thumb {
			a {
				&:last-child {
					display: block;
					&:before {
						bottom: 0;
						content: "";
						display: block;
						height: 80%;
						width: 100%;
						position: absolute;
						z-index: 1;
						background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
						background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.7)));
						background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
						background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
						background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
						background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
						filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#b3000000', GradientType=0);
					}
				}
			}
		}
	}

	&.post-style-1 {
		margin-bottom: 15px;
		.post-thumb {
			margin-bottom: 0;
			overflow: hidden;
			height: 220px;
			.entry-thumb {
				max-width: none;
				width: auto;
			}
		}
		.post-details{
			position: absolute;
			bottom: 0;
			padding: 0 17px;
			margin-bottom: 17px;
			z-index: 1;
			.post-category {
				background-color: #fff;
				color: #222;
			}
			.post-title{
				font-size: 17px;
				font-weight: 700;
				line-height: 21px;
				margin-bottom: 6px;
				a {
					color: #fff;
					font-weight: bold;
					text-transform: capitalize;
				}
			}
			.post-meta-info{
				.post-author-name{
					a {
						color: #fff;
					}
				}
			}
		}
	}
	&.post-style-2 {
		padding-bottom: 15px;
		&.last-item  {
			padding-bottom: 0;
		}
		.post-thumb {
			position: absolute;
			left: 0;
			top: 0;
			margin-bottom: 0;
			width: 80px;
			height: 60px;
			overflow: hidden;
			.entry-thumb {
			}
		}
		.post-details{
			margin-left: 100px;
			min-height: 60px;
			padding-top: 2px;
			.post-title{
				margin-top: 5px;
			}
			.post-meta-info{
				.post-datetime{
					.post-date{
						&.updated{}
					}
				}
			}
		}
	}
	&.post-style-3 {
		padding-bottom: 26px;
		.post-thumb {
			position: absolute;
			left: 0;
			top: 0;
			margin-bottom: 13px;
		}
		.post-details{
			margin-left: 116px;
			min-height: 70px;
			.post-title{
			}
			.post-meta-info{
				.post-datetime{
					.post-date{
						&.updated{}
					}
				}
			}
		}
	}
	&.post-style-4 {
		padding-bottom: 25px;
		border-bottom: 1px dashed #f2f2f2;
		margin-bottom: 26px;
		text-align: center;

		&.last-item {
			border-bottom: none;
			padding-bottom: 0;
			margin-bottom: 0;
		}

		.post-details {
			.post-comments {
				top: auto;
				float: none;
				margin-bottom: 8px;
			}
			.post-title {
				font-size: 17px;
				line-height: 22px;
				font-weight: bold;
				text-transform: capitalize;
				margin-bottom: 8px;
			}
			.post-category {
				display: inline-block;
				margin: 0 0 8px 0;
			}
			.post-meta-info {
				margin-bottom: 0;
			}
		}
	}
	&.post-style-5 {
		width: 33.33333333%;
		float: left;
		padding-right: 3px;
		overflow: hidden;
		.post-thumb {
			margin: 0;
			overflow: hidden;
			height: 220px;
			background-color: #e5e5e5;
			&:after {
				content: '';
				width: 100%;
				height: 100%;
				position: absolute;
				z-index: 1;
				background-color: #000;
				opacity: 0;
				top: 0;
				left: 0;
				pointer-events: none;
				-webkit-transition: opacity 0.4s ease 0.2s;
				-moz-transition: opacity 0.4s ease 0.2s;
				-o-transition: opacity 0.4s ease 0.2s;
				transition: opacity 0.4s ease 0.2s;
			}
			a:last-child {
				&:before {
					content: '';
					width: 100%;
					height: 100%;
					position: absolute;
					z-index: 1;
					background-color: #000;
					opacity: 0.7;
					top: 0;
				}
				&:after {
					position: absolute;
					top: 0;
					left: 0;
					width: 160%;
					height: 100%;
					background: rgba(255, 255, 255, 0.2);
					content: '';
					z-index: 1;
					transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -120%, 0);
					-webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -120%, 0);
					-moz-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -120%, 0);
					-ms-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -120%, 0);
					-o-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -120%, 0);
				}
				.entry-thumb {
					-webkit-transition: transform 0.6s ease 0s;
					-moz-transition: transform 0.6s ease 0s;
					-o-transition: transform 0.6s ease 0s;
					transition: transform 0.6s ease 0s;
					transform: scale(1.1);
					-webkit-transform: scale(1.1);
					-moz-transform: scale(1.1);
					-ms-transform: scale(1.1);
					-o-transform: scale(1.1);
				}
			}
		}
		&:hover {
			.post-thumb {
				&:after {
					opacity: 0.3;
				}
				a:last-child {
					&:after {
						-webkit-transition: transform 0.7s ease 0s;
						-moz-transition: transform 0.7s ease 0s;
						-o-transition: transform 0.7s ease 0s;
						transition: transform 0.7s ease 0s;
						transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 146%, 0);
						-webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 146%, 0);
						-moz-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 146%, 0);
						-ms-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 146%, 0);
						-o-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 146%, 0);
					}
					.entry-thumb{
						transform: scale(1);
						-webkit-transform: scale(1);
						-moz-transform: scale(1);
						-ms-transform: scale(1);
						-o-transform: scale(1);
					}
				}
			}
		}
		.post-details{
			position: absolute;
			z-index: 1;
			width: 100%;
			top: 0;
			bottom: 0;
			text-align: center;
			font-size: 0;
			&:before {
				content: '';
				display: inline-block;
				height: 100%;
				vertical-align: middle;
			}
			.post-meta-align{
				display: inline-block;
				vertical-align: middle;
				pointer-events: none;
				width: 100%;
				position: relative;
				text-align: center;
				padding: 0 10%;
			}
			.post-category {
				background-color: #fff;
				color: #222;
				font-size: 10px;
				padding: 2px 6px;
				line-height: 13px;
				margin-bottom: 10px;
			}
			.post-title{
				font-size: 13px;
				font-weight: 300;
				line-height: 19px;
				margin-bottom: 6px;
				a {
					color: #fff;
					text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
				}
			}
			.post-meta-info{
				.post-author-name{
					a {
						color: #fff;
					}
				}
			}
		}
	}
}


.archive {
	article {
		.atgrid__item {
			margin-bottom: 20px;
			.atgrid__item__content {
				padding: 15px;
				.atgrid__item__title {
					font-size: 15px;
					line-height: 20px;
					height: 40px;
					overflow: hidden;
				}
			}
		}
	}
}